<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Smile\ElasticsuiteCore\Index\DataSourceResolver">
        <arguments>
            <argument name="datasources" xsi:type="array">
                <item name="catalog_product" xsi:type="array">
                    <item name="reviews_count" xsi:type="object">MageSuite\SortByRating\Model\Product\Indexer\Fulltext\Datasource\ReviewsCountData</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Smile\ElasticsuiteRating\Model\ResourceModel\Product\Indexer\Fulltext\Datasource\RatingData">
        <plugin name="add_filter_by_min_reviews_count" type="MageSuite\SortByRating\Plugin\Smile\ElasticsuiteRating\Model\ResourceModel\Product\Indexer\Fulltext\Datasource\RatingData\AddFilterByMinReviewsCount" />
    </type>
    <type name="Magento\Review\Block\Product\ReviewRenderer">
        <plugin name="flatten_rating_summary_for_review_renderer" type="MageSuite\SortByRating\Plugin\Review\Block\Product\ReviewRenderer\FlattenRatingSummary"/>
    </type>
</config>
