<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smile_elasticsuite_sorting_settings" translate="label" type="text" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>PLP Sorting Settings</label>
            <tab>smile_elasticsuite</tab>
            <resource>Magento_Backend::smile_elasticsuite_catalogsearch</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="min_count" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Minimum Reviews Count</label>
                    <comment>Products with fewer reviews than the defined amount will be considered for sorting purposes as ones without any reviews and zero-stars rating.</comment>
                    <frontend_class>cs-csfeature__logo</frontend_class>
                    <validate>required-number validate-number validate-zero-or-greater validate-digits</validate>
                </field>
            </group>
        </section>
    </system>
</config>
